.rodape{
    background-color:black;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;
}
.rodape a{
    color:#FF5A19 ;
    border-bottom: none;
}

/* ok */