.rodape{
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 50px;
    top:100%;
    margin-top: 50px;
}
.rodape a{
    color:#FF5A19 ;
    border-bottom: none;
}