.topo {
    grid-area: topo;
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: 3px solid #FF5A19;
}

.logo {
    font-weight: bold;
    font-size: 23px;
    color: white;
}

.nav-bar {
    display: flex;
}

.nav-bar li {
    margin-left: 10px;
}

.nav-bar__item {
    font-weight: bold;
    color: white;
}

.nav-bar__item:hover {
    color: #FF5A19;
    cursor: pointer;
}
.ativo{
    color: #FF5A19;
}